@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");


* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  scroll-behavior: smooth;
}
.bg-main {
  /* color: #fff; */
  width: 100%;
  height: 800px;
  background-image: url("../images/journal1.jpg");
  /* height: 600px; */
  /* padding: 50px; */
}
.title {
  display: inline;
  color: red;
  font-size: 40px;
  font-weight: bold;
}
.recentsEvents{
  text-align: center;
  padding: 25px;
  background-color: ghostwhite;
}
.comingEvents{
  padding: 25px;
}
.randomText{
  width: 34%;
  margin-left: 33%;
}

.viewLink {
  text-align: center;
  display: inline-block;
  margin: 0 0 88px;
  transition: all 0.25s ease;
  width: 250px;
  padding: 24px 1.2em;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  font-size: 18px;
  color: red;
  text-decoration: none;
  font-family: 'GeomanistRegular', sans-serif;
  cursor: pointer;
}
.link {
  display: inline-block;
  margin: 0 0 88px;
  transition: all 0.25s ease;
  width: 250px;
  padding: 24px 1.2em;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  font-size: 18px;
  color: red;
  text-decoration: none;
  font-family: 'GeomanistRegular', sans-serif;
  cursor: pointer;
}
.card {
  width: 45%;
  margin-top: 40px;
}


.container {
  padding: 2px 16px;
}
.menu {
  float: left;
  width: 20%;
}
.news {
  background-color: ghostwhite;
  margin-top: 33%;
  padding: 25px;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  width: 100%;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
}
.content{
  background-color: #fff;
  margin-top: -14%;
width: 179%;
}
.donate{
  padding: 25px;
  background-color: #fff;
}
.footer {
  background-color: #090909;
  color: #fff;
}
footer {
  font-size: 20px;
  /* text-align: center; */
  padding: 2%;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}





.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


.item-bg {
  width: 300px;
  height: 500px;
  position: absolute;
  top: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all .3s;
  left: -30px;
}
/* .item-bg.active {
  left: 0;
  top: 0;
  opacity: 1;
} */

.news-slider {
  z-index: 2;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
@media screen and (max-width: 1300px) {
  .news-slider {
    max-width: 1000px;
  }
}
@media screen and (max-width: 576px) {
  .news-slider {
    margin-top: 45px;
  }
}
.news-slider__wrp {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  margin-left: 10px;
}
.news-slider__item {
  width: 400px;
  flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .news-slider__item {
    width: 340px;
  }
}
.news-slider__item.swiper-slide {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
}
.news-slider__item.swiper-slide-active, .news-slider__item.swiper-slide-prev, .news-slider__item.swiper-slide-next {
  opacity: 1;
  pointer-events: auto;
}
.news-slider__item.swiper-slide-active {
  width: 38%;
  color: red;
  margin-right: 3%;
  margin-left: 3%;
}

.news-slider__ctr {
  position: relative;
  z-index: 12;
}
.news-slider__arrow {
  color: black;

  border: none;
  display: inline-flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  z-index: 12;
  cursor: pointer;
  outline: none !important;
}
.news-slider__arrow:focus {
  outline: none !important;
}
.news-slider__arrow .icon-font {
  display: inline-flex;
}
.news-slider__arrow.news-slider-prev {
  left: 40%;
  transform: translateY(-50%);
}
.news-slider__arrow.news-slider-next {
  right: 40%;
  transform: translateY(-50%);
}
.news-slider__pagination {
  text-align: center;
  margin-top: 50px;
}
.news-slider__pagination .swiper-pagination-bullet {
  width: 13px;
  height: 4px;
  display: inline-block;
  background: black;
  opacity: .2;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity .5s, background-color .5s, width .5s;
  transition-delay: .5s, .5s, 0s;
}
.news-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: red;
  width: 25px;
  transition-delay: 0s;
}
@media screen and (max-width: 576px) {
  .news-slider__pagination .swiper-pagination-bullet-active {
    width: 70px;
  }
}
.news__item {
  padding: 40px;
  color: #fff;
  border-radius: 10px;
  display: block;
  transition: all .3s;
  width: 90%;
}
@media screen and (min-width: 800px) {
  .news__item:hover {
    color: #222222;
    transition-delay: .1s;
  }
  .news__item:hover .news-date, .news__item:hover .news__title, .news__item:hover .news__txt {
    opacity: 1;
    transition-delay: .1s;
  }
  .news__item:hover .news__img {
    box-shadow: none;
  }
}
.news__item.active {
  color: #222222;
}
.news__item.active .news-date, .news__item.active .news__title, .news__item.active .news__txt {
  opacity: 1;
}
.news__item.active .news__img {
  box-shadow: none;
}
@media screen and (max-width: 992px) {
  .news__item {
    padding: 30px;
  }
}
@media screen and (max-width: 576px) {
  .news__item {
    padding: 20px;
  }
}
.news-date {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  display: inline-block;
  opacity: .7;
  transition: opacity .3s;
}
@media screen and (max-width: 576px) {
  .news-date {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0;
  }
}
.news-date__title {
  display: block;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .news-date__title {
    margin-right: 10px;
  }
}
.news-date__txt {
  font-size: 16px;
}
.news__title {
  font-size: 25px;
  font-weight: 500;
  opacity: .7;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: opacity .3s;
}
@media screen and (max-width: 576px) {
  .news__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
.news__txt {
  margin: 10px 0;
  line-height: 1.6em;
  font-size: 15px;
  opacity: .7;
  transition: opacity .3s;
}
.news__img {
  border-radius: 10px;
  box-shadow: 0 6px 26px 6px rgba(0, 0, 0, 0.25);
  height: 200px;
  margin-top: 30px;
  width: 135%;
  transition: all .3s;
  transform-origin: 0% 0%;
}
@media screen and (max-width: 576px) {
  .news__img {
    height: 180px;
    margin-top: 20px;
  }
}
.news__img img {
  max-width: 100%;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.bgimage-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 33%;
  position: absolute;
  margin-left: 11%;
  cursor: pointer;
}

.bgimage-container > a {
  width: 133%;
  margin: 1px;
  text-align: center;
  line-height: 75px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.donate-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 29%;
  position: absolute;
  margin-left: 4%;
  cursor: pointer;
}

.donate-container > a {
  width: 133%;
  margin: 1px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  opacity: 0.1;
}

.details-container {
  margin-top: 26%;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  margin-left: 11%;
  width: 90%;
}

.details-container > a {
  width: 100%;
  margin: 1px;
  text-align: left;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}
.matter {
  position: absolute;
  margin-top: 10%;
  font-size: 65px;
  color: #fff;
  margin-left: 11%;
  line-height: 1rem;
}
.matter p:nth-child(2) {
  border-right: 3px solid #fff;
    height: 50px;
    margin: 0px 0px 4px 5px;
}

.saja-container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  margin-left: 5%;
  width: 55%;
  margin-left: 37%;
}

.saja-container > div {
  width: 100%;
  margin: 1px;
  text-align: center;
  line-height: 75px;
  font-size: 16px;
  color: #fff;
}
.saja-container > div.test a {
  color: #fff;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 70px;
  background-color: Transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  background-color: #fff;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #a89a91}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
}


.issue-container {
  display: flex;
  flex-wrap: nowrap;

}

.issue-container > div {
  width: 70%;
  margin: 30px;
  text-align: center;
  box-shadow: 1px 2px 0px 6px #f1f1f1;
  border-radius: 4px;
}
.issue-details {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  flex-direction: column;

}

.issue-details > div {
  width: 100%;
  margin: 1px;
  text-align: left;
  padding: 3px;

}

.joinUs {
  background-color: #e20d0d;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  width: 120px;
  outline:none;
}

.sajalogo {
    margin-left: 120px;
}

.saja-contacts {
  display: flex;
  flex-wrap: nowrap;
  height: 344px;
}

.saja-contacts > div {
  background-color: #090909;
  width: 100%;
  margin: 10px;
  text-align: center;
  color: #fff;
}
.visit {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.visit > div {
  background-color: #090909;
  width: 73%;
  margin: 10px;
  text-align: center;
  color: #fff;
  line-height: 1.8rem;
  font-size: 20px;
  text-align: left;
}
